build/
dist/
tator/openapi/tator_openapi/
tator/openapi/docs/
tator/openapi/README.md
schema.yaml
**/__pycache__/
tator.egg-info/
config.json

# Temporary files
*~
*#
out/

# Dev files
tags
tags.lock
