certifi >= 14.05.14
future; python_version<="2.7"
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
tator-tuspy >= 0.2.5
requests >= 2.23.0
pyyaml >= 5.3.1
progressbar2 >= 3.51.4
